@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size:contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }

    button { 
        margin-top: 2vw;
        margin-bottom: 8px;
    }
    // pega a imagem de fundo e preenche todo o container, preservando a proporção da IMAGEM.

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
                margin-bottom: 0;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                // ultimo P do CONTENT, logo o que está abaixo do valor dos preços.
                margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            
            @media (max-width: 768px) {
                display: block;
                margin-bottom: 24px;
            }

            &__combo {
                width: calc(50% - 12px);
                // calculo de margem no caso seria os 50% da tela - 12px (24 que tem entre os elementos/2)
                img {
                    max-height: 60px;
                }

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

    }
}